<%- include('template/header', {tituloWeb: 'Crear Servicio'}); %>
<%- include('template/aside'), %>
    
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Crear Servicios</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Inicio</a></li>
              <li class="breadcrumb-item active">Servicios</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
         <!-- Main content -->
              <section class="content">
               <!-- Default box -->
               <div class="card">
                 <div class="card-header">  
               <h4>Diligencia los datos del formulario </h4>       
             </div>          
               <div class="card-body">
                 <form action="/servicios" method="post">
                <input type="text" placeholder="Nombre del servicio" name="servicio" id="servicio" class="form-control my-2" required>
                <input type="text" placeholder="Descripción servicio" name="descripcion" id="descripcion" class="form-control my-2" required>
                <div class="d-grid">
                <button class="btn btn-success" type="submit">Agregar</button>
              </div>            
             </form>
            </div>
         </div>
        </section>
        </div>
            
               
            <%- include('template/footer'); %>
            