<%- include('template/header',  {tituloWeb: 'Página de Inicio'} ); %>

    <h1 class="text-primary"><%= titulo %></h1>
    <h2> Pagina de inicio con EJS</h2>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus aliquam, culpa esse voluptatibus repudiandae, rem, impedit tempore libero a ipsa beatae facilis aut molestiae harum accusantium asperiores? Mollitia, inventore incidunt!</p>

 <%- include('template/footer' ); %>